.home-page {
    .widgets-container {
        .widget-card {
            width: 500px;
            height: 350px;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #e4e4e4;
        }
    }
}